<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Benjamin Scholtz</title>
	<meta name="author" content="name">
	<meta name="description" content="description here">
	<meta name="keywords" content="keywords,here">
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>

<body class="bg-gray-200 font-sans leading-normal tracking-normal">

	<nav id="header" class="fixed w-full z-10 top-0">

		<div id="progress" class="h-1 z-20 top-0"
			style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

		<div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">

			<div class="pl-4">
				<div class="avatar inline-block rounded-full bg-gray-300 pr-5 h-10">
					<img class="rounded-full float-left h-full" src="<%= avatar_url()  %>">
					<a class="ml-3 text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="/#">
						Benjamin Scholtz
					</a>
				</div>
			</div>

			<div class="block md:hidden pr-4">
				<button id="nav-toggle"
					class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none">
					<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<title>Menu</title>
						<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
					</svg>
				</button>
			</div>

			<div class="w-full flex-grow md:flex md:items-center md:w-auto hidden md:block mt-2 md:mt-0 bg-gray-100 sm:bg-transparent z-20"
				id="nav-content">
				<ul class="list-reset md:flex justify-end flex-1 items-center">
					<li class="mr-3">
						<a class="menu-link <%= active_class(@conn, Routes.about_path(@conn, :index))%>"
							href="<%= Routes.about_path(@conn, :index) %>">About</a>
					</li>
					<!-- <li class="mr-3">
						<a class="menu-link"
							href="/#">Work</a>
					</li> -->
					<li class="mr-3">
						<a class="menu-link <%= active_class(@conn, Routes.project_path(@conn, :index))%>"
							href="<%= Routes.project_path(@conn, :index) %>">Projects</a>
					</li>
					<li class="mr-3">
						<a class="menu-link" href="mailto:contact@benjaminscholtz.com?Subject=Hello%20Ben"
							target="_top">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container w-full md:max-w-3xl mx-auto pt-20">
		<div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal">
			<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
			<main role="main" class="container">
				<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
				<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
				<%= render @view_module, @view_template, assigns %>
			</main>
		</div>
	</div>

	<footer class="bg-white border-t border-gray-400 shadow mt-16">
		<div class="container max-w-4xl mx-auto flex py-8">

			<div class="w-full mx-auto flex flex-wrap">
				<div class="flex w-full md:w-1/2 ">
					<div class="px-8">
						<h3 class="font-bold text-gray-900">About</h3>
						<p class="py-4 text-gray-600 text-sm">
							I'm Ben ~ a mechatronics engineer and freelance software developer.
							Drop me an <a href="mailto:contact@benjaminscholtz.com?Subject=Hello%20Ben"
								target="_top">e-mail</a> and let me know what you're working on!
						</p>
					</div>
				</div>

				<div class="flex w-full md:w-1/2">
					<div class="px-8">
						<h3 class="font-bold text-gray-900">Social</h3>
						<ul class="list-reset items-center text-sm pt-3">
							<li>
								<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
									href="https://github.com/BenSchZA">GitHub @BenSchZA</a>
							</li>
							<li>
								<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
									href="https://stackoverflow.com/users/2351499/yodascholtz">StackOverflow
									@yodascholtz</a>
							</li>
							<li>
								<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
									href="https://www.linkedin.com/in/benjaminscholtz/">LinkedIn @benjaminscholtz</a>
							</li>
							<li>
								<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
									href="https://twitter.com/BenScholtz">Twitter @benscholtz</a>
							</li>
							<li>
								<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
									href="https://medium.com/@benscholtz">Medium @benscholtz</a>
							</li>
							<li>
								<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
									href="https://devpost.com/BenSchZA">DevPost @BenSchZA</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script>
		/* Progress bar */
		//Source: https://alligator.io/js/progress-bar-javascript-css-variables/
		var h = document.documentElement,
			b = document.body,
			st = 'scrollTop',
			sh = 'scrollHeight',
			progress = document.querySelector('#progress'),
			scroll;
		var scrollpos = window.scrollY;
		var header = document.getElementById("header");
		var navcontent = document.getElementById("nav-content");

		document.addEventListener('scroll', function () {

			/*Refresh scroll % width*/
			scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
			progress.style.setProperty('--scroll', scroll + '%');

			/*Apply classes for slide in bar*/
			scrollpos = window.scrollY;

			if (scrollpos > 10) {
				header.classList.add("bg-white");
				header.classList.add("shadow");
				navcontent.classList.remove("bg-gray-100");
				navcontent.classList.add("bg-white");
			}
			else {
				header.classList.remove("bg-white");
				header.classList.remove("shadow");
				navcontent.classList.remove("bg-white");
				navcontent.classList.add("bg-gray-100");
			}

		});


		//Javascript to toggle the menu
		document.getElementById('nav-toggle').onclick = function () {
			document.getElementById("nav-content").classList.toggle("hidden");
		}


	</script>

	<!-- Calendly badge widget begin -->
	<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
	<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
	<script type="text/javascript">Calendly.initBadgeWidget({ url: 'https://calendly.com/bensch-dev/60min?hide_event_type_details=1', text: 'Schedule time with me', color: '#4dc0b5', textColor: '#ffffff', branding: true });</script>
	<!-- Calendly badge widget end -->

</body>

</html>