<%= render "_hero.html", conn: @conn %>

<h2 class="text-2xl font-bold">Featured Repos</h2>
<%= render "_repos.html", github_repos: @github_repos, conn: @conn %>

<h2 class="text-2xl font-bold">Blog Posts</h2>
<%= render "_posts.html", posts: @posts, conn: @conn %>